*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{ 
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.header{
    width: 100%;
    height: 10vh;
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}

.navBar{
    width: 100%; 
    background-color: #0f172a;
    
}

.navBar ul{ 
    text-decoration: none;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navBar ul li{
    text-decoration: none;
    list-style: none; 
    padding: 15px 20px;
    color: white;
}

.navBar li:hover{
    list-style: none;
    text-decoration: none; 
    background-color: lightblue;
    color: black;
    transition: 0.3s;
}
@media screen and (min-width: 330px) and (max-width: 768px){
    .navBar{ 
        position: absolute;
        top: 10%;
        left: 0;
        height: 100vh;
        width: 40%;
        background-color: #0f172a;
        
    } 
    .navBar ul{
        margin-top: 10rem;
        column-gap: 2rem; 
        flex-direction: column;
        align-items: flex-start;
    }
    .navBar ul li{
        margin-top: 2rem; 
        border-bottom: 1px solid white;
        width: 100%;
    
}
}

@media screen and (min-width: 770px) and (max-width: 1024px){ 
    .navBar ul{ 
        flex-direction: row;
        justify-content: space-around;
    }
}
/* .allC{ 
    width: 80%;
    margin: auto;
    height: 50vh;
    border: 4px groove #0f172a;
    border-radius: 10px;
    background: linear-gradient(to left, rgba(0, 255, 70, 1.0), #78ffbe, #8855ff, #996645);
} */

.allC{ 
    width: 80%;
    margin: auto;
    height: 50vh;
    border: 8px grove rgba(15, 23, 42, 1.0);
    border-radius: 10px;


    /* Glassmophism Background */
    background: linear-gradient(to left, 
    rgba(0, 255, 70, 0.3),
    rgba(120, 255, 190, 0.3),
    rgba(153, 102, 69, 0.3),
    rgba(153, 102, 69, 0.3)
    );
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
    border: 4px solid rgba(255, 255, 255, 0.18);
}

.shadow{ 
    width: 80%;
    border: 2px ridge #505099;
    height: 300px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: auto;
    /* background: linear-gradient(180deg, red, yellow); */
    /* background: radial-gradient(circle, blue, white, yellow, skyblue); */
    background: linear-gradient( 70deg, blue, skyblue,  orange, yellow, white);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    box-shadow: 4px 4px 15px #203050;
    border-radius: 10px;
}
.shadow #para{ 
    font-size: 2rem;
    /* border: 4px groove #1212ff;
    background-color: skyblue;
    max-width: 400px; */
    margin: auto;
    text-shadow: 4px 4px 10px #00ffc0;
}
.scatric{ 
    width: 100%;
    height: 80vh;
    border: 4px groove #ff0099;
    background: url("Main Testing.jpg") center / cover no-repeat;
}